.about {
        background-color: rgba(248, 248, 248, 1);
        display: flex;
        margin-top: 120px;
		&__container {
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 82px 82px;
		}

		&__top {
            display: flex;
            align-items: start;
            justify-content: space-between;
		}

		&__title {
            width: fit-content;
		}

		&__text {
            max-width: 620px;
            width: 100%;
            display: flex;
            flex-direction: column;
		}

		&__bottom {
            display: flex;
            justify-content: space-between;
            gap: 100px;
		}

		&__card {
            display: flex;
            flex-direction: column;
            gap: 20px;
		}

		&__card-title {
            color: rgba(31, 39, 67, 1);
		}

		&__card-description {
            max-width: 190px;
		}
}
@include media($tablet) {
    .about {
        margin-top: 40px;
        &__container {
            gap: 24px;
            padding: 40px 20px;
        }

        &__top {
            flex-direction: column;
            gap: 24px;
        }

        &__title {
           
        }

        &__text {
            max-width: 100%;
        }

        &__bottom {
            gap: 20px;
            flex-direction: column;
        }

        &__card {
            gap: 15px;
            max-width: 100%;
            width: 100%;
        }

        &__card-title {
          
        }

        &__card-description {
           
        }
    }

}