.hero {
    background-color: $accent;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    &__container {}
    &__breadcrumbs {
        display: inline;
    }
    &__breadcrumbs-elem {
        color: white;
        text-decoration: underline;
        &::after {
            content: '/';
            margin: 0 4px;
        }
        &_last {
            text-decoration: none;
        }
        @include any-hover {
            color: white;
        }
    }
    &__content {
        display: flex;
        gap: 120px;
        margin-top: 60px;
    }
    &__left {
        display: flex;
        flex-direction: column;
    }
    &__title {}
    &__subtitle {
        margin-top: 52px;
    }
    &__text {
        margin-top: 12px;
        color: #FFFFFF80;
        line-height: 1.5;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-left: 20px;
    }
    &__list-elem {}
    &__form {
        margin-top: 52px;
        max-width: 500px;
    }
    &__form-text {
        font-weight: 600;
    }
    &__form-include {
        margin-top: 16px;
        height: 172px;
        background-color: #00000055;
    }
    &__right {
        flex: 0 0 630px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
    &__input {
        margin-top: 16px;
    }
    &__privacy-text {
        color: #FFFFFF99 !important;
        line-height: 1.5;
        margin-top: -3px;
    }
    &__privacy_hero {
        margin-top: 16px !important;
    }
    &__btn {
        margin-top: 12px;
        background-color: white !important;
        color: var(--accent) !important;
        margin-left: 0 !important;
    }
}

.hero .question__privacy-text {
    color: white;
}

@include media($tablet) {
    .hero {
        &__content {
            flex-direction: column;
        }
        &__btn {
            width: 100% !important;
        }
        &__right {
            display: none;
        }
    }
}