// Заголовки, общие БЄМ блоки и проче...
body {
    font-family: 'Montserrat', sans-serif;
    color: #161616;
}

h1, h2, h3, h4, h5, h6 {
    color: #161616;
}

a {
    color: #161616;
    transition: .2s;
    &:hover, &:focus {
        color: #161616;
        opacity: .7;
        text-decoration: none;
    }
}

.text {
    &_50 {
        font-size: 50px;
    }
    &_36 {
        font-size: 36px;
    }
    &_24 {
        font-size: 24px;
    }
    &_20 {
        font-size: 20px;
    }
    &_18 {
        font-size: 18px;
    }
    &_16 {
        font-size: 16px;
    }
    &_14 {
        font-size: 14px;
    }
    &_serif {
        font-family: 'Prata', sans-serif;
    }
    @include media($mobile) {
        &_mobile {
            &_50 {
                font-size: 50px;
            }
            &_36 {
                font-size: 36px;
            }
            &_24 {
                font-size: 24px;
            }
            &_20 {
                font-size: 20px;
            }
            &_18 {
                font-size: 18px;
            }
            &_16 {
                font-size: 16px;
            }
            &_14 {
                font-size: 14px;
            }
        }
    }
}